<div class="row">
  <h2>Login</h2>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    <form #f="ngForm" (submit)="login()">
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email"
                class="form-control"
                id="email"
                placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Password">
      </div>
      <div class="form-check">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

      <!--
        <a routerLink="/registrazione">Registrati</a>
      -->

      <a routerLink="/dashboard">VAI ALLA DASHBOARD</a>

    </form>

  </div>

</div>
